.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Couvre toute la largeur */
    height: 100%;
    /* Couvre toute la hauteur */
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    /* Centre horizontalement */
    align-items: center;
    /* Centre verticalement */
}

.modal {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    /* Ajouter des largeur et hauteur maximales si nécessaire */
    max-width: 60%;
    /* Largeur maximale */
    max-height: 80%;
    /* Hauteur maximale */
    overflow-y: auto;
    min-width: 40%;
    min-height: 50%;
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
    /* justify-content: center; */
    /* Permettre le défilement si le contenu est trop long */
}

.modal-btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    width: 50%;
    opacity: 0.9;
}

.modal-albums a {
    text-decoration: none;
    color: black
}

.modal-albums img {
    width: 30%;
    height: 30%;
}

.album-image {
    align-items: center;
}

.modal-albums {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;


}

.modal-albums h3 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-albums ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.modal-artist-name {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-artist-toptracks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: px;
    gap: 15px;
}

.modal-artist-toptracks ul {
    list-style: none;
    padding: 0;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-artist-toptracks a {
    text-decoration: none;
    color: black
}

.modal-recommandation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    gap: 15px;
}

.modal-recommandation ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-recommandation a {
    text-decoration: none;
    color: black
}

.modal-recommandation h3 {
    font-size: 20px;
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 480px) {
    .modal {
        max-width: 90%;
        min-width: 90%;
        min-height: 50%;
    }

    .modal-albums {
        gap: 10px;
        margin: 15px;
        padding: 15px;

    }

    .modal-albums img {
        width: 50%;
        height: 50%;
    }

    .modal-albums h3 {
        font-size: 15px;
    }

    .modal-artist-name {
        font-size: 20px;
    }

    .modal-artist-toptracks {
        font-size: 15px;
    }

    .modal-recommandation {
        font-size: 15px;
    }

    .modal-btn {
        font-size: 10px;
    }

    .modal-btn-container {
        flex-direction: column;
        gap: 10px;
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 70px;
        max-height: 50px;
        font-size: 15px;
        /* Ajustez selon vos besoins */
    }

}